body{
    margin:0;
    padding:0;
    background:#0f172a;
    color:white;
    font-family:Arial,sans-serif;

    display:flex;
    justify-content:center;
    align-items:center;

    min-height:100vh;
}

.container{
    width:90%;
    max-width:420px;
    text-align:center;
}

.logo{
    width:120px;
    height:120px;
    margin-bottom:20px;
}

h1{
    color:#38bdf8;
    font-size:42px;
    margin:0;
    letter-spacing:2px;
}

.tagline{
    color:#94a3b8;
    margin-top:10px;
    margin-bottom:40px;
    font-size:16px;
}

.buttons{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.btn{
    text-decoration:none;
    padding:16px;
    border-radius:14px;
    font-size:16px;
    font-weight:bold;
    transition:0.2s;
}

.primary{
    background:#38bdf8;
    color:#0f172a;
}

.secondary{
    background:#1e293b;
    color:white;
}

.btn:active{
    transform:scale(0.98);
}

.footer{
    margin-top:40px;
    color:#64748b;
    font-size:14px;
}